.navbar {
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.menu-bars {
  position: relative;
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  top: -60px;
  cursor: pointer;
}

.menu-cross {
  position: relative;
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  cursor: pointer;
}

.nav-menu {
  background-color: #fff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: left;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: rgb(121, 121, 121);
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: blueviolet;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
}

span {
  margin-left: 16px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: none;
  }
}
